html {
    font-size: 62.5%;
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.gallery .img {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}